body{
    margin: 0px auto;
    padding: 0;
}
.image{
    width: 68%;
    float: left;
}
.info-table{
    width: 32%;
    float: right;
    background: #FFCCFF;
}
table{
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid black;
  }
.color{
    background-color: #CCFFFF;
}