body{
    background: url("wallpaper.jpg") top left no-repeat;
}
h1{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 80px;

}
h3{
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 40px;

}
#wrapper{
    width: 400px;
    margin: 100px 0 0 30px;
}